#texno-text {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

  
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
.textext {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    font-weight: bold;
    background: #fff;
    color: #000;
    mix-blend-mode: screen;
  }

#about {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about {
    padding: 5%;
}

.qiyas0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.qiyas {
    display: block;
    width: 200px;
    background-color: transparent;
    border: transparent;
    outline: transparent;
}

.about-us-text {
    margin-bottom: 50px;
}
.faq {
    padding-left: 50px;
}

.texnopark-info-about {
    padding-left: 50px;
}
/*
.gallery-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
        
}
.gallery-item {
    margin-bottom: 20px;
    width: 33%;
    height: 200px;
    background-color: blue;
    
}
*/
.gallery-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 400px));
    grid-gap: 5px;
    justify-content: center;
  }
  
  .gallery-item {
    border-radius: 5px;
    padding: 10px;
    background: #f2f2f2;
  }
  .gallery-item img {
    max-width: 100%;
  }
  .level-1 {
    grid-row-end: span 2;
  }
  .level-2 {
    grid-row-end: span 1;
  }
  .level-3 {
    grid-row-end: span 3;
  }
